<h1 mat-dialog-title>
  <div *ngIf="producto.ID != '-6'; then actualizar else crear"></div>
</h1>
<div mat-dialog-content>
  <p>Informacion del Producto</p>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="producto.Nombre">    
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <input matInput [(ngModel)]="producto.Descripcion">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Codigo</mat-label>
    <input matInput [(ngModel)]="producto.Codigo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Medidas</mat-label>
    <input matInput [(ngModel)]="producto.Medidas">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Empresa</mat-label>
    <input matInput [(ngModel)]="producto.Empresa">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput type="number" [(ngModel)]="producto.Precio">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Activo</mat-label>
    <input matInput [(ngModel)]="producto.Activo">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <div *ngIf="producto.ID != '-6'; then thenBlock else elseBlock"></div>
</div>





<ng-template  #actualizar>
  Actualizar {{ producto.Nombre }}
</ng-template>

<ng-template  #crear>
  Crear Producto
</ng-template>

<ng-template #thenBlock>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="producto" cdkFocusInitial>Actualizar</button>
</ng-template>

<ng-template #elseBlock>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="producto" cdkFocusInitial>Crear</button>
</ng-template>
