<div style="background-color: azure;">
  <h1 style="color: black;">
    Producto: {{ producto.ID }} - 
  </h1>
  <label for="lname">Nombre:</label>
  <input type="text" [(ngModel)]="producto.Nombre"><br><br>

  <label for="lname">Descripcion:</label>
  <input type="text" [(ngModel)]="producto.Descripcion"><br><br>

  <label for="lname">CantidadUnidad:</label>
  <input type="text" [(ngModel)]="producto.CantidadUnidad"><br><br>

  <label for="lname">Medidas:</label>
  <input type="text" [(ngModel)]="producto.Medidas"><br><br>

  <label for="lname">Empresa:</label>
  <input type="text" [(ngModel)]="producto.Empresa"><br><br>

  <label for="lname">Codigo:</label>
  <input type="text" [(ngModel)]="producto.Codigo"><br><br>

  <label for="lname">Precio:</label>
  <div class="input-group prefix">                           
    <span class="input-group-addon">$</span>
    <input type="number" [(ngModel)]="producto.Precio">
  </div>

  <label for="lname">Categorias:</label>
  <div *ngFor="let c of producto.Categorias;">
    <h5>{{c}}</h5>
  </div>
  <div>
    <label>Agregar Categoria:</label> <input #prod/>
    <button (click)="addCategoria(prod.value); prod.value=''">
        Add
    </button>
  </div>

  <label for="lname">Activo:</label>
  <input type="text" [(ngModel)]="producto.Activo"><br><br>

  <button (click)='actualizarCrearProducto()'> Actualizar o crear </button>

</div>
