<div style="background-color: azure;">
  <h1 style="color: black;">
    Cliente: {{ cliente.ID }} - 
  </h1>
  <label for="lname">Nombre:</label>
  <input type="text" [(ngModel)]="cliente.Nombre"><br><br>

  <label for="lname">Mail:</label>
  <input type="text" [(ngModel)]="cliente.Mail"><br><br>

  <label for="lname">Direccion:</label>
  <input type="text" [(ngModel)]="cliente.Direccion"><br><br>

  <label for="lname">Numero de Telefono:</label>
  <input type="text" [(ngModel)]="cliente.Numero"><br><br>

  <button (click)='actualizarCrearCliente()'> Actualizar o crear </button>

</div>
