<button (click)="tomarClientes()">
  Refrezcar
</button>

<button (click)="crearCliente()">
  Crear
</button>

<br>
<input type="text" [(ngModel)]="filtro">
<button (click)="Filtrar();">
  Filtrar 
</button>

<table id="table_detail" align=center cellpadding=10>
  <tr>
    <th (click)='sort("ID")'>ID</th>
    <th (click)='sort("Nombre")'>Nombre</th>
    <th (click)='sort("Mail")'>Mail</th>
    <th (click)='sort("Numero")'>Numero</th>
    <th (click)='sort("Direccion")'>Direccion</th>
    <th>Actualizar</th>
    <!-- <th>Cat agregar</th> -->
  </tr>
  <tr *ngFor="let cliente of clientes; index as i">
    <td>{{cliente['ID']}}</td>
    <td>
      {{cliente.Nombre}}
    </td>
    <td>
      {{cliente.Mail}}
    </td>
    <td>
      {{cliente.Numero}}
    </td>
    <td>
      {{cliente.Direccion}}
    </td>
    <td>
      <button
      (click)="seleccionarCliente(cliente)">
        ACTUALIZAR cliente
      </button>
    </td>
  </tr>
</table>



<div *ngIf='cliente'>
  <app-cliente [cliente]='cliente' (refrescarCliente)="reemplazarClientes()"></app-cliente>
</div>
