/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  background-color: white;
}

button {
  background-color: white;
  color: black;
}

* {
  box-sizing: border-box;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-icon {
  padding: 10px;
  background: rgba(134, 134, 134, 0.87);
  color: white;
  min-width: 50px;
  text-align: center;
}


.pricetag{
	white-space:nowrap;
	position:relative;
	margin:0 5px 0 10px;
	displaY:inline-block;
	height:30px;
	border-radius: 0 5px 5px 0;
	padding: 0 25px 0 15px;
	background:#E8EDF0;
	border: 0 solid #C7D2D4;
	border-top-width:1px;
	border-bottom-width:1px;
	color:rgb(0, 0, 0);
	line-height:23px;
}
.pricetag:after{
	position:absolute;
	right:0;
	margin:1px 7px;
	font-weight:bold;
	font-size:23px;
	content:"\00D7";
}
.pricetag:before{
	position:absolute;
	content:"\25CF";
	color:white;
	text-shadow: 0 0 1px rgb(0, 0, 0);
	font-size:11px;
	line-height:0px;
	text-indent:12px;
	left:-15px;
	width: 1px;
	height:0px;
	border-right:14px solid #E8EDF0;
	border-top:  13px solid transparent;
	border-bottom:  13px solid transparent;
}