<button (click)="refrescarProductos()">
  Refrezcar
</button>

<button (click)="crearProductoDialogue()">
  Crear
</button>

<button (click)="actualizarProductosDeArchivo()">
  Actualizar
</button>

<br>
<input type="text" [(ngModel)]="filtro">
<button (click)="Filtrar();">
  Filtrar 
</button>

<table id="table_detail" align=center cellpadding=10>
  <tr>
    <th (click)='sort("ID")'>ID</th>
    <th (click)='sort("Nombre")'>Nombre</th>
    <th (click)='sort("Descripcion")'>Descripcion</th>
    <th (click)='sort("CantidadUnidad")'>CantidadUnidad</th>
    <th (click)='sort("Medidas")'>Medidas</th>
    <th (click)='sort("Empresa")'>Empresa</th>
    <th (click)='sort("Codigo")'>Codigo</th>
    <th (click)='sort("Precio")'>Precio</th>
    <th>Categorias</th>
    <th (click)='sort("Activo")'>Activo</th>
    <th>Actualizar</th>
    <!-- <th>Cat agregar</th> -->
  </tr>
  <tr *ngFor="let producto of productos; index as i">
    <td>{{producto['ID']}}</td>
    <td>
      {{producto.Nombre}}
    </td>
    <td>
      {{producto.Descripcion}}
    </td>
    <td>
      {{producto.CantidadUnidad}}
    </td>
    <td>
      {{producto.Medidas}}
    </td>
    <td>
      {{producto.Empresa}}
    </td>
    <td>
      {{producto.Codigo}}
    </td>
    <td>
      <div class="input-group prefix">                           
        <span class="input-group-addon">$</span>
        {{producto.Precio}}
      </div>
    </td>
    <td>
      <!-- <div *ngFor="let c of producto.Categorias; index as i">
        <h5>{{c}}</h5>
      </div> -->
      {{producto.Categorias}}
    </td>
    <td>{{producto.Activo}}</td>
    <td>
      <button
      (click)="seleccionarProducto(producto)">
        ACTUALIZAR PRODUCTO
      </button>
    </td>
    <!-- <td  class='expanded-row-content hide-row'>
      <div>
        <label>Hero name:</label> <input #prod/>
        <button (click)="addCategoria(i, prod.value); prod.value=''">
            Add
        </button>
      </div>
    </td> -->
  </tr>
</table>



<div *ngIf='producto'>
  <app-producto [producto]='producto' (refrescarProducto)="refrescarProductos()"></app-producto>
</div>


<!-- 
<div>
  <label>Hero name:</label> <input #prod/>
  <button (click)="add(prod.value); prod.value=''">
      Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
      <button class="delete"
              (click)="delete(hero); $event.stopPropagation()">x
      </button>
  </li>
</ul> -->