<div *ngIf="!producto" style="width: 100%;">

  <div class="actionbar">
    <div (click)="refrescarProductos()">
      Refrezcar
    </div>
    
    <div (click)="crearProductoDialogue()">
      Crear
    </div>
    
    <div (click)="actualizarProductosDeArchivo()">
      Actualizar de archivo
    </div>
    <div style="float: right;">
      Productos
    </div>
  </div>
  
  
  <div>
    <div class="input-container">
      <input type="text" class="filter" placeholder="Buscar Producto" (keyup)="Filtrar();" [(ngModel)]="filtro">
    </div>
  
    <table id="table_detail" class="tabla"  align=center cellpadding=10>
      <tr>
        <th (click)='sort("ID")'>ID</th>
        <th (click)='sort("Nombre")'>Nombre</th>
        <th (click)='sort("Descripcion")'>Descripcion</th>
        <th (click)='sort("CantidadUnidad")'>CantidadUnidad</th>
        <th (click)='sort("Medidas")'>Medidas</th>
        <th (click)='sort("Codigo")'>Codigo</th>
        <th (click)='sort("Precio")'>Precio</th>
        <th>Categorias</th>
        <th (click)='sort("Activo")'>Activo</th>
        <th>Actualizar</th>
        <!-- <th>Cat agregar</th> -->
      </tr>
      <tr *ngFor="let producto of productos; index as i">
        <td>{{producto['ID']}}</td>
        <td>
          <div class="scroll">
            {{producto.Nombre}}
          </div>
        </td>
        <td (title)="producto.Descripcion">
          <div class="scroll">
            {{producto.Descripcion}}
          </div>
        </td>
        <td style="text-align: center;">
          {{producto.CantidadUnidad}}
        </td>
        <td style="text-align: center;">
          {{producto.Medidas}}
        </td>
        <td>
          {{producto.Codigo}}
        </td>
        <td>
            <i class="fa fa-fw fa-usd"></i>
            {{producto.Precio}}
        </td>
        <td>
          <div class="scroll">
            <div *ngFor="let c of producto.Categorias; index as i">
              <span *ngIf="c" class="pricetag">{{c}}</span>
            </div>
          </div>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="producto.Activo" disabled="true"><br><br>
        </td>
        <td>
          <div>
            <button
              class="actualizar"
              (click)="seleccionarProducto(producto)">
               {{ producto.ID}}
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf='producto'>
  <app-producto [producto]='producto' (refrescarProducto)="refrescarProductos()"></app-producto>
</div>



<!-- <td (title)="producto.Categorias">
  {{producto.Categorias.substring(0,10)}}
</td> -->