/* Style the navigation bar */
.actionbar {
    width: 100%;
    background-color: rgb(211, 45, 45);
    overflow: auto;
}
  
/* actionbar links */
.actionbar div {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
/* actionbar links on mouse-over */
.actionbar div:hover {
    background-color: #000;
}
  
/* Add responsiveness - will automatically display the actionbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .actionbar div {
      float: none;
      display: block;
    }
}

.filter {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}

.tabla {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}
  
.tabla th, .tabla td {
    text-align: left;
    padding: 12px;
}
  
.tabla tr {
    border-bottom: 1px solid #ddd;
}
  
.tabla tr.header, .tabla tr:hover {
    background-color: #f1f1f1;
}

input[type=checkbox]{
	width: 100%;
	float: left;
	height: 30px;
}

.actualizar{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 109, 109);
    color: whitesmoke;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: large;
}

.scroll{
    width: 200px;
    height: 60px;
    overflow-y: auto;
    overflow-x: auto;
	font-size: 20px;
}

